*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(240, 240, 11)
    
}

h1{
    color: rgb(18, 117, 18);
    font-family: 'Roboto Slab', serif;
}

h2{
    color: rgb(18, 117, 18);
    font-family: 'Roboto Slab', serif;
}

 
ul {
    text-align: left;
    list-style: none;
    color: rgb(18, 117, 18);
   
}
a{
    color: green;
}

li{
    display: inline-block;
   color: rgb(18, 117, 18) ;
}


p{
    line-height: 1.5;
    font-weight: bold;
    text-align: justify;
    font-family: 'Major Mono Display', monospace;
    width: 1800px;
    padding: 10px;
    margin: 1rem;
}
h4{
    text-align: center;
    font-family: 'Major Mono Display', monospace;
}

form {
    text-align: center;
    margin: 2rem;
    font-family: 'Major Mono Display', monospace;
    
}

h5 {
    font-family: 'Roboto Slab', serif;
}
body{
    background-color: rgb(240, 240, 112);
background-image: linear-gradient(315deg, #f5df2e 0%, #f07654 74%);
}


footer{
    
   
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(240, 240, 11) 
    
    
}
.mail{
    text-align: right;
    display: inline-block;
}