*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(240, 240, 11);
}
h1{
    color: rgb(18, 117, 18);
    font-family: 'Roboto Slab', serif;
}

h2{
    color: rgb(18, 117, 18);
    font-family: 'Roboto Slab', serif;
}


ul{
    text-align: left;
    list-style: none;
    color: rgb(18, 117, 18);
}

a{
    color: rgb(18, 117, 18);
}
li{
    display: inline-block;
    color: rgb(18, 117, 18);
}

p{
    line-height: 1.5;
    font-weight: bold;
    text-align: justify;
    font-family: 'Major Mono Display', monospace;
    width: 1800px;
    padding: 10px;
    margin: 1rem;
}

h4{
    text-align: center;
    font-family: 'Major Mono Display', monospace;
}

form{
    text-align: center;
    margin: 2rem;
    font-family: 'Major Mono Display', monospace;
}
body{
    background-color: rgb(255, 187, 0);
}
.grad{
    background: linear-gradient(to top yellow,red);
}


footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 11) 
    
}
.cont{
     font-size: 20px;
    text-align: left;
    text-align: center;
    
}
.dir{
    text-align: center;
}
.sello{
    text-align: right;
}